* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: auto;
}
li {
  margin: 5px 0;
}
.delete {
  color: red;
  cursor: pointer;
  margin: 0 10px;
}
.edit {
  cursor: pointer;
}
.add {
  margin-top: 20px;
}
.modify-input, .modify-button {
  display: none;
}
